*
{
margin:0px;
padding:0px;
}

.top_menu
{
display: inline-block;
position:fixed;
height:50px;
width:100%;
background-image:url('../images/head.png');
}

.top_logo
{
display: inline-block;
margin-left:5px;
margin-top:4px;
height:42px;
width:169px;
background-image:url('../images/logo.png');
float:left;
margin-right:20px;
}

.top_nav
{
height:50px;
width:100%;
}

.top_nav_ul
{
height:50px;
width:30px;
float:left;
}

.top_nav_li
{
display: inline-block;
font-family: arial;
text-decoration:none;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
cursor: default;
color:#848484;
height:50px;
width:30px;
line-height:50px;
font-size:120%;
text-align:center;
}

#top_nav_ul li
{
width:70px;
height:47px;
}

#top_nav_ul li:hover
{
background-image:url(../images/button.png);
border-bottom:3px solid #2991b8;
}

a
{
text-decoration:none;
color:#848484;
}

.login
{
display: inline-block;
font-family: arial;
text-decoration:none;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
cursor: default;
color:#848484;
height:50px;
width:30px;
line-height:50px;
float:right;
font-size:120%;
text-align:center;
}

.signup
{
display: inline-block;
font-family: arial;
text-decoration:none;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
cursor: default;
color:#848484;
height:50px;
width:30px;
line-height:50px;
float:right;
font-size:120%;
text-align:center;
}

.main_page
{
background-image:url('../images/background.png');
width:100%;
height:100%;
background-repeat: repeat-y;
background-repeat: repeat-x;
}

.main_page_middle
{
background-color:#424242;
width:70%;
height:100%;
margin-left:5%;
float:left;
}

#main_page_line
{
background-image:url(../images/craig.png);
width:3px;
height:100%;
float:right;
}

.main_page_right
{
background-color:#424242;
width:20%;
color:white;
margin-right:5%;
height:100%;
float:right;
}

#main_title
{
text-align:center;
margin-top:50px;
font-size:230%;
color:#848484;
}

.main_radio_middle
{
background-color:#424242;
width:75%;
height:100%;
margin-left:12.5%;
float:left;
}

.button
{
display: inline;
float:left;
background-image:url('../images/head.png');
color:white;
width:20%;
margin-right:2.5%;
margin-left:2.5%;
border-radius:4px;
height:50px;
text-align:center;
line-height:50px;
}

.button:hover
{
background-image:url('../images/head_transparent.png');
}

#player_preview {
margin: 90px auto 70px auto;
}

.admin_button
{
width:250px;
height:150px;
font-size:80%;
background-color:grey;
border-radius:5px;
color:black;
text-align:center;
line-height:150px;
padding:5px;
float:left;
margin-right:5px;
margin-left:5px;
margin-top:10px;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
cursor: default;
}

.admin_button:hover
{
background-color:#BCBCBC;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
cursor: default;
}

#admin_panel_text
{
text-align:center;
margin-bottom:10px;
}

#admin_panel_insert
{
margin-bottom:10px;
}

#admin_username_input
{
width:210px;
height:30px;
}

#admin_panel_submit
{
margin-top:230px;
}